In [4]:
library(WRS2)

In [124]:
df <- read.csv2("https://github.com/lawrence009/dsur/raw/master/data/goggles.csv",header = TRUE, sep=',')
df[ , c('attractiveness')] <- as.numeric(df[ , c('attractiveness')])
df[ , c('alcohol')] <- as.factor(df[ , c('alcohol')])
df[ , c('gender')] <- as.factor(df[ , c('gender')])

In [125]:
tidy_df <- t2way(attractiveness ~ gender*alcohol, data = df)

In [126]:
tidy_df

Call:
t2way(formula = attractiveness ~ gender * alcohol, data = df)

                 value p.value
gender          1.6667   0.209
alcohol        48.2845   0.001
gender:alcohol 26.2572   0.001

In [127]:
f <- t2way(attractiveness ~ gender*alcohol, data = goggles)

In [128]:
c(f[1:6])

$Qa
[1] 1.666667

$A.p.value
[1] 0.209

$Qb
[1] 48.2845

$B.p.value
[1] 0.001

$Qab
[1] 26.25718

$AB.p.value
[1] 0.001

In [129]:
df1 = data.frame(factor=c('gender','alcohol','gender:alcohol'),
                value = c(f$Qa,f$Qb,f$Qab),
                 pvalue = c(f$A.p.value,f$B.p.value,f$AB.p.value))
df1

  factor         value     pvalue
1 gender          1.666667 0.209
2 alcohol        48.284501 0.001
3 gender:alcohol 26.257184 0.001