In [1]:
import pandas as pd
import rpy2.robjects as robjects
from rpy2.robjects import pandas2ri
pandas2ri.activate()

In [2]:
df = pd.read_csv("https://github.com/lawrence009/dsur/raw/master/data/goggles.csv", sep=',') # Dataframe

In [3]:
# Defining the R script and loading the instance in Python
r = robjects.r
r['source']('my_t2way.R')  # Loading the function we have defined in R.
my_t2way_r = robjects.globalenv['my_t2way']  # Reading and processing data
df1 = "https://github.com/lawrence009/dsur/raw/master/data/goggles.csv"  # Dataframe
df_result_r = my_t2way_r(df1)  # Result data frame

In [4]:
df_result_r

           factor      value  p.value
1          gender   1.666667    0.209
2         alcohol  48.284501    0.001
3  gender:alcohol  26.257184    0.001